@import url('https://fonts.googleapis.com/css2?family=Lilita+One');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css2?family=Zain');
h1 {
    text-align: center;
    font-family: 'Lilita One';
    font-size: 50px;
}

nav {
    background-color: #cd9a56;
    text-align: center;
    padding: 10px;
    color: white;
}

span {
    margin: 20px;
}

.header-background {
    background-image: url(resources/header-background.jpg);
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    text-align: center;
    position: relative;
    top: 25%; 
    font-family: 'Caveat Brush';
    font-size: 30px;
}

.text2 {
    text-align: center;
    position: relative;
    top: 25%; 
    font-family: 'Cherry Bomb One';
    font-size: 80px;
}

p {
    margin: 0px;
    line-height: 1;
}

.text3 {
    text-align: center;
    position: relative;
    top: 25%;
    margin: 10px;
    font-family: 'Zain';
    font-size: 20px;
}

.about-us {
    background-color: #cd9a56;
    min-height: 260px;
}

.header-about-us {
    text-align: center;
    padding-top: 50px;
    font-family: 'Caveat Brush';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0px;
    color: white;
}

.about-us-text {
    text-align: center;
    padding: 50px;
    padding: 0px;
}

.about-us-info {
    font-size: 30px;
    margin: 20px;
    font-family: 'Zain';
    color: white;
}

.video {
    background-color: #cd9a56;
    text-align: center;
    min-height: 600px;
}

video {
    height: 500px;
}

.category-header {
    text-align: center;
    font-family: 'Lilita One';
    font-size: 50px;
    margin: 50px;
}

.milk-tea-title , .coffee-title {
    text-align: center;
    border: solid;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-size: 200px;
    background-position: center;
}

.milk-tea-title {
    background-image: url(resources/boba.png);
}

.coffee-title {
    background-image: url(resources/coffee.jpg);
}

.milk-tea-button {
    font-family: 'Lilita One';
    padding: 10px;
    font-size: 25px;
}

.category-item {
    display: flex;
    justify-content: center;
    gap: 50px;
}

img {
    width: 100px;
}

.coffee-button {
    font-family: 'Lilita One';
    padding: 10px;
    font-size: 25px;
}

.category-page {
    height: 400px;
}
