@import url('https://fonts.googleapis.com/css2?family=Lilita+One');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css2?family=Zain');
h1 {
    text-align: center;
    font-family: 'Lilita One';
    font-size: 50px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #cd9a56;
    text-align: center;
    padding: 10px;
    color: white;
    height: 20px;
    font-family: 'Zain';
    font-size: 20px;
}

nav a:hover {
  transform: scale(1.05); 
  transition: 0.2s ease-in-out;
  color: bisque;
}


.header-background {
    background-image: url(resources/header-background.jpg);
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    text-align: center;
    position: relative;
    top: 25%; 
    font-family: 'Caveat Brush';
    font-size: 30px;
}

.text2 {
    text-align: center;
    position: relative;
    top: 25%; 
    font-family: 'Cherry Bomb One';
    font-size: 80px;
    text-shadow: 4px 4px 0 black;
    color: #9b6b43;
}

p {
    margin: 0px;
    line-height: 1;
}

.text3 {
    text-align: center;
    position: relative;
    top: 25%;
    margin: 10px;
    font-family: 'Zain';
    font-size: 20px;
}

#about-us {
    background-color: #cd9a56;
    min-height: 260px;
}

.header-about-us {
    text-align: center;
    padding-top: 50px;
    font-family: 'Caveat Brush';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0px;
    color: white;
}

.about-us-text {
    text-align: center;
    padding: 50px;
    padding: 0px;
}

.about-us-info {
    font-size: 30px;
    margin: 20px;
    font-family: 'Zain';
    color: white;
}

#video {
    background-color: #cd9a56;
    text-align: center;
    min-height: 600px;
}

video {
    height: 500px;
}

#category-header {
    text-align: center;
    font-family: 'Lilita One';
    font-size: 50px;
    margin: 50px;
}

.milk-tea-title , .coffee-title {
    text-align: center;
    border: solid;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-size: 200px;
    background-position: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.milk-tea-title:hover , .coffee-title:hover {
    transform: scale(1.05);
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.milk-tea-title {
    background-image: url(resources/boba.png);

}

.coffee-title {
    background-image: url(resources/coffee.jpg);
}

.milk-tea-button {
    font-family: 'Lilita One';
    padding: 10px;
    font-size: 25px;
}

.category-item {
    display: flex;
    justify-content: center;
    gap: 50px;
}

img {
    width: 100px;
}

.coffee-button {
    font-family: 'Lilita One';
    padding: 10px;
    font-size: 25px;
}

.category-page {
    height: 400px;
}

.contact {
    background-color: #cd9a56;
    height: 130px;
}

#contact-title {
    text-align: center;
    font-family: 'Lilita One';
    font-size: 30px;
    padding: 20px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-family: 'Zain';
    font-size: 20px;
}

span {
    font-weight: bold;
}


/* my first category page */
.first-category , .second-category {
    text-shadow: 4px 4px 0 black;
    margin: 0px;
}

.first-category-header , .second-category-header {
    color: #e6d498;
    font-size: 100px;
    padding: 30px;
    margin: 0px;
    background-color: #cd9a56;
}

.second-category-header {
    background-color: white;
}

.product1 , .product2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.product1 {
    margin: 50px;
}

.taiwan-milk-tea , .taiwan-brownsugar , .caramel-milk-tea , .coffee-milk-tea , .strawberry-milk-tea , .taro-milk-tea , .melon-milk-tea , .banana-milk-tea {
    border: solid;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
}

.taiwan-milk-tea:hover , .taiwan-brownsugar:hover , .caramel-milk-tea:hover, .coffee-milk-tea:hover , .strawberry-milk-tea:hover , .taro-milk-tea:hover , .melon-milk-tea:hover , .banana-milk-tea:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.taiwan-milk-tea {
    background-image: url(resources/taiwan-milk-tea.png);
}

.taiwan-brownsugar {
    background-image: url(resources/taiwan-brownsugar.png);
}

.caramel-milk-tea {
    background-image: url(resources/caramel-milk-tea.png);
}

.coffee-milk-tea {
    background-image: url(resources/coffee-milk-tea.png);
}

.strawberry-milk-tea {
    background-image: url(resources/strawberry-milk-tea.png);
}

.taro-milk-tea {
    background-image: url(resources/taro-milk-tea.png);
}

.melon-milk-tea {
    background-image: url(resources/melon-milk-tea.png);
}

.banana-milk-tea {
    background-image: url(resources/banana-milk-tea.png);
}

/* my second category page */
.second-category {
    background-color: #cd9a56;
}

.nescafe-coffee , .orange-americano , .honey-lemon-americano , .passion-americano , .americano , .capuccino , .mocha , .latte {
    border: solid;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
}

.nescafe-coffee:hover , .orange-americano:hover , .honey-lemon-americano:hover, .passion-americano:hover , .americano:hover , .capuccino:hover , .mocha:hover , .latte:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.nescafe-coffee {
    background-image: url(resources/nescafe-coffee.png);
}

.orange-americano {
    background-image: url(resources/);
}

.honey-lemon-americano {
    background-image: url(resources/honey-lemon-americano.png);
}

.passion-americano {
    background-image: url(resources/passion-americano.png);
}

.americano {
    background-image: url(resources/americano.png);
}

.capuccino {
    background-image: url(resources/capuccino.png);
}

.mocha {
    background-image: url(resources/mocha.png);
}

.latte {
    background-image: url(resources/latte.png);
}

.orange-americano {
    background-image: url(resources/orange-americano.png);
}